li{
    list-style-type: none;
    /*2 values for margin, first is for top and second is for bottom*/
    margin: 0 2vw;
    /*font-size will be X% of the height of the viewport*/
    font-size: 18px;
}

a{
    text-decoration: none;   
    /*text color*/
    color: darkslateblue;
    font-family: 'Amatic SC', serif, sans-serif;
    font-style: normal;
    font-variant: small-caps;
}

a:hover{
    color: cornflowerblue;
    transition: all .2s ease-in;
}

nav{
    width: 100vw;
    height: auto;
    background-color: bisque;
}

ul{
    margin: 0;
    padding: 0;
    
    /*this part by default disposes the elements in a row (flew-direction:row)*/
    display: flex;
}

body{
    margin: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amatic SC';
    font-size: 20px;
    background-color: bisque;
    padding-left: 30px;
    padding-right: 30px;
}

hr {
    width: 40%;
    margin-left: 0px;
    height: .2px;
    background-color: darkseagreen ;
    border: none;

}

img.resize {
  width:341px;
  height:341px;
}

button {
    display: none;
}

.aboutcontainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.section {
    text-align: center;
    padding-bottom: 20px;
}

.detail {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-bottom: 20px;
}

.note {
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
    /*shows elements in a column*/
    ul{
        flex-direction: column;
    }
    
    /*deletes margin on top/bottom of the tag*/
    li{
        margin: 0;
    }
    
    /*tag (menu) will take the entire screen*/
    a{
        display: block;
    }
    button{
        /*makes button visible on mobile*/
        display: block;
        
        padding: 2vw;
        font-size: 3vh;
        background-color: darkgrey;
        border: none;
        
        /*removes default blue border around menu options*/
        outline: none;
        
        cursor: pointer;
        
        /*position button right*/
        align-self: flex-start;
    }
    
    /*only execute when doc is ready*/
    /*$(document).ready(function(){*/
    /*    !*called when click on button*!*/
    /*    $("button").click(function(){*/
    /*        !*change text in button*!*/
    /*        if($("button").text() == "☰"){*/
    /*            $("button").text("🞬");*/
    /*        }else{*/
    /*            $("button").text("☰");*/
    /*        }*/
    /*        */
    /*    !* funcction to toggle visiblity of "li" elements*!*/
    /*        $("li").toggle("slow");*/
    /*    });*/
    /*});*/
}